OPENAI_API_KEY=
PORT=3000

CONTENT_TEXT=Write the small feedback tweet for this product\n\nFlavorGPT (flavor-ai.tech). Get access to the ALL Modern AI Models, assistant, tools & a lot of things at One Place & One Subcription with classic UI.\n\nYou can use anyother feature like, prompts, web-browsing, image generation, file updates etc...\n\nNote: No need to cover all features, it feedback from user. Write text within tweet text limitation. Also, make sure you will use the tone of human and as tech/AI community user/member. No need to mention anyone by @, provided source information is enough.